.about__container {
    grid-template-columns: 3fr 9fr;
    column-gap: 1.875rem;
}

.about__data {
    padding: 1.875rem;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    grid-template-columns: 1fr;
    row-gap: 1rem;
    position: relative;
}

.about__data::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid var(--container-color);
    position: absolute;
    left: -14px;
    top: 20%;
}

.about__greeting {
    margin-bottom: .5rem;
}

.about__description {
    text-align: justify;
}

.about__biodata {
    grid-template-columns: repeat(2, 6fr);
    gap: .5em;
}

.biodata__title {
    font-weight: var(--font-medium);
    color: var(--first-color);
}

@media screen and (max-width: 992px) {
    .about__container {
        grid-template-columns: 720px;
        justify-content: center;
        row-gap: 1.875rem;
    }

    .about__data::before {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid#fff;
        left: 49%;
        top: -20px;
    }

    .about__img {
        justify-self: center;
    }
}

@media screen and (max-width: 768px) {
    .about__container {
        grid-template-columns: 550px;
    }

    .about__data::before {
        left: 47%;
    }

    .about__data {
        grid-template-columns: 1fr;
    }

    .about__biodata {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 576px) {
    .about__container {
        grid-template-columns: 1fr;
    }
}